.sidenav i {
  margin-right: 8px;
}

.sidenav li {
  display: block;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #f4dbba;
  padding: 15px;
  margin: 5px 0;
  background-color: rgb(99, 97, 96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidenav li:hover {
  color: #fff;
  background-color: #fe6f5e;
  font-weight: 600;
}

.social-media {
  position: absolute;
  left: 30%;
  transform: translate(-30%);
  font-size: 20px;
  display: flex;
}

.social-media i {
  margin: 0 auto;
}

.social-media a {
  margin: 10px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
}

#fb-ico {
  color: #3b5998;
  background-color: #f7f5f4;
}
#fb-ico:hover {
  background-color: #3b5998;
  color: #fff;
}

#li-ico {
  color: #007bb6;
  background-color: #f7f5f4;
}
#li-ico:hover {
  background-color: #007bb6;
  color: #fff;
}

#insta {
  color: #d62976;
  background-color: #f7f5f4;
}
#insta:hover {
  background-color: #d62976;
  color: #fff;
}

#tweet {
  color: #55acee;
  background-color: #f7f5f4;
}
#tweet:hover {
  background-color: #55acee;
  color: #fff;
}

.scroll,
.scroll-up {
  display: flex;
  flex-direction: column;
  padding-top: 35%;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  scroll-behavior: smooth;
}
.scroll a,
.scroll-up a {
  color: #fff;
}
.scroll a:hover,
.scroll-up a:hover {
  text-decoration: underline;
  text-shadow: #fff 0 -2px 10px;
}

.scroll-up {
  padding-top: 10%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background-color: #f4dbba;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper .sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background: #231f20;
}

.sidenav a {
  color: #fff;
}

.sidenav h1 {
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 50px;
  font-weight: 600;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  background-color: #fe6f5e;
  border-radius: 3px;
}

.wrapper .main-content {
  width: 85vw;
  margin-left: 15vw;
}

.banner-image {
  background-color: #fe6f5e;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 10px;
  height: 85vh;
}
.banner-image h1,
.banner-image p {
  text-align: center;
  color: #fff;
}
.banner-image h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: #fff -2px 0 2px;
}
.banner-image p {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: #fff -2px 0 2px;
}

.contact-section {
  margin: 0 15px;
}
.contact-section h2 {
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.contact-section h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 3px;
}
.contact-section h4,
.contact-section a {
  font-size: 1.2em;
  color: #000;
  margin-bottom: 3px;
}
.contact-section h4:hover,
.contact-section a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.contact-section p {
  margin-bottom: 3px;
}
.contact-section section {
  border: 1px solid #fe6f5e;
  margin-right: 80%;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 40%;
  background-color: #fff;
}

@media (max-width: 991px) {
  .sidenav {
    display: none;
  }
  .wrapper .main-content {
    width: 100vw;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
