.sidenav i {
  margin-right: 8px;
}

.sidenav li {
  display: block;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #e4c499;
  padding: 15px;
  margin: 5px 0;
  background-color: rgb(99, 97, 96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidenav li:hover {
  color: #fff;
  background-color: #e95c4c;
  font-weight: 600;
}

.social-media {
  position: absolute;
  left: 30%;
  transform: translate(-30%);
  font-size: 20px;
  display: flex;
}

.social-media i {
  margin: 0 auto;
}

.social-media a {
  margin: 10px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
}

#fb-ico {
  color: #3b5998;
  background-color: #f7f5f4;
}
#fb-ico:hover {
  background-color: #3b5998;
  color: #fff;
}

#li-ico {
  color: #007bb6;
  background-color: #f7f5f4;
}
#li-ico:hover {
  background-color: #007bb6;
  color: #fff;
}

#insta {
  color: #d62976;
  background-color: #f7f5f4;
}
#insta:hover {
  background-color: #d62976;
  color: #fff;
}

#tweet {
  color: #55acee;
  background-color: #f7f5f4;
}
#tweet:hover {
  background-color: #55acee;
  color: #fff;
}

.scroll,
.scroll-up {
  display: flex;
  flex-direction: column;
  padding-top: 50vh;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  scroll-behavior: smooth;
}
.scroll a,
.scroll-up a {
  color: #fff;
}
.scroll a:hover,
.scroll-up a:hover {
  text-decoration: underline;
  text-shadow: #fff 0 -2px 10px;
}

.scroll-up {
  padding-top: 10%;
  margin-bottom: 5px;
}

.hidden-nav {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  height: 45px;
  width: 45px;
  background-color: #e4c499;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.hidden-nav:hover {
  background-color: #e95c4c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  letter-spacing: 2px;
  overflow-x: hidden;
  background-color: #e4c499;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.project-grid img {
  width: 300px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.wrapper .sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background: #231f20;
}

.sidenav a {
  color: #fff;
}

.sidenav h1 {
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 50px;
  font-weight: 600;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  background-color: #e95c4c;
  border-radius: 3px;
}

.wrapper .main-content {
  width: 85vw;
  margin-left: 15vw;
}

.banner-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4c499;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner-image h1,
.banner-image p {
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
.banner-image h1 {
  font-weight: 600;
  text-shadow: #000 5px 2px 5px;
  padding-top: 30vh;
}
.banner-image p {
  font-weight: 500;
  font-size: 1.1em;
  text-shadow: #000 5px 2px 5px;
  font-style: italic;
}

.contact-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #e95c4c;
}
.contact-section h2 {
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-bottom: 3px;
  color: #e95c4c;
}
.contact-section h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 3px;
  color: #e95c4c;
}
.contact-section h4,
.contact-section h4 a {
  font-size: 1.2em;
  color: #e95c4c;
  margin-bottom: 3px;
}
.contact-section h4:hover,
.contact-section h4 a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.contact-section p {
  margin-bottom: 3px;
  font-weight: 400;
}
.contact-section #contact {
  border: 2px solid #e95c4c;
  box-shadow: inset;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  width: 95%;
  background-color: #fff;
}
.contact-section #contact-form {
  border: 2px solid #e95c4c;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  width: 95%;
  background-color: #fff;
}

::placeholder {
  color: #e95c4c;
  font-weight: 600;
  font-size: 0.8rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.project-grid .tab-1,
.project-grid .tab-2,
.project-grid .tab-3,
.project-grid .tab-4,
.project-grid .tab-5,
.project-grid .tab-6 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px 20px;
  box-shadow: 0px 0px 20px #e9e9e9;
  position: relative;
  top: 0;
  transition: 0.5s ease;
  margin-top: 10px;
}

input[type=text],
input[type=email] {
  width: 80%;
  background-color: #fff;
  margin: 5px 15px;
  border-radius: 5px;
  padding-left: 5px;
  height: 50px;
  outline: none;
  border: 2px #e4c499 solid;
}
input[type=text]:focus,
input[type=email]:focus {
  border: rgba(9, 122, 234, 0.5) 3px solid;
}

textarea {
  resize: none;
  background-color: #fff;
  width: 80%;
  margin: 5px 15px;
  border-radius: 5px;
  padding-left: 5px;
  height: 100px;
  font-weight: 500;
  border: 2px #e4c499 solid;
  outline: none;
}
textarea:focus {
  border: rgba(9, 122, 234, 0.5) 3px solid;
}

.btn-submit {
  list-style: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  color: #e4c499;
  padding: 15px;
  margin: 15px;
  background-color: rgb(99, 97, 96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.btn-submit:hover {
  color: #fff;
  background-color: #e95c4c;
  font-weight: 600;
}

@media (max-width: 991px) {
  .sidenav {
    display: none;
  }
  .wrapper .main-content {
    width: 100vw;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .hidden-nav {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
