// ====================================================================
// Media queries
// ====================================================================

@media (max-width: 991px) {
  .sidenav {
    display: none;
  }
  .wrapper .main-content {
    width: 100vw;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .hidden-nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .tab-1,
  .tab-2 {
    width: 40%;
  }
  .project-img {
    height: 280px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid $txt-color;
  }
  .contact-section {
    display: flex;
    flex-direction: row;
    h4,
    h4 a {
      font-size: 1.15rem;
    }
    #contact {
      width: 32%;
      height: auto;
      text-align: left;
    }
    #contact-form {
      width: 60%;
      height: auto;
    }
  }
}
