// ====================================================================
// Media queries
// ====================================================================

@media (max-width: 991px) {
  .sidenav {
    display: none;
  }
  .wrapper .main-content {
    width: 100vw;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .hidden-nav {
    display: none;
  }
}
