// ==========================================================================================
// Variables
// ==========================================================================================

// Colour variables

$btn-hover: #ff3b3f;
$btn-regular: #caebf2;
$txt-color: #a9a9a9;
$txt-white: #efefef;
$btn-side: rgb(99, 97, 96);
$dark-bg: #231f20;

// Social media colours

$fb: #3b5998;
$li-in: #007bb6;
$insta: #d62976;
$tweet: #55acee;
$git: #6e5494;

// Text variables

$light-txt: 400;
$med-txt: 500;
$bold-txt: 600;
