// ==========================================================================================
// Variables
// ==========================================================================================

// Colour variables

$btn-hover: #fe6f5e;
$btn-regular: rgb(99, 97, 96);

// Social media colours

$fb: #3b5998;
$li-in: #007bb6;
$insta: #d62976;
$tweet: #55acee;

// Text variables

$light-txt: 400;
$med-txt: 500;
$bold-txt: 600;
