// ============================================================
// Layout styles
// ============================================================

.wrapper .sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background: #231f20;
}

.sidenav a {
  color: #fff;
}

.sidenav h1 {
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 50px;
  font-weight: $bold-txt;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  background-color: $btn-hover;
  border-radius: 3px;
}

.wrapper .main-content {
  width: 85vw;
  margin-left: 15vw;
}

.banner-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fe6f5e;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 10px;
  height: 100vh;
  h1,
  p {
    text-align: center;
    color: #fff;
  }
  h1 {
    font-weight: $bold-txt;
    text-shadow: #fff -2px 0 2px;
  }
  p {
    font-weight: $light-txt;
    text-shadow: #fff -2px 0 2px;
  }
}

.contact-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted $btn-hover;
  h2 {
    text-align: center;
    font-size: 2.2em;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: $btn-hover;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 3px;
    color: $btn-hover;
  }
  h4,
  h4 a {
    font-size: 1.2em;
    color: $btn-hover;
    margin-bottom: 3px;
    &:hover {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
  p {
    margin-bottom: 3px;
    font-weight: $light-txt;
  }
  #contact {
    border: 2px solid $btn-hover;
    box-shadow: inset;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    width: 95%;
    background-color: #fff;
  }
  #contact-form {
    border: 2px solid $btn-hover;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    width: 95%;
    background-color: #fff;
  }
}

::placeholder {
  color: $btn-hover;
  font-weight: $bold-txt;
  font-size: 0.8rem;
}
