// ============================================================================
// Base styles
// ============================================================================

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background-color: $txt-color;
}

a {
  text-decoration: none;
  cursor: pointer;
}
